[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.5.2"
django = "==4.1.1"
sqlparse = "==0.4.2"
gunicorn = "==20.1.0"

[requires]
python_version = "3.10"

[dev-packages]
